################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CRUDBasico/bin/Debug/netcoreapp3.1
/.vs
/CRUDBasico/obj
/CRUDBasico/bin/Release/netcoreapp3.1
/CRUDBasico/Properties/PublishProfiles
/Test/ServicioAtributos.FunctionalTests/bin/Debug/netcoreapp3.1
/Test/ServicioAtributos.FunctionalTests/obj
/Test/ServicioAtributos.UnitTest/bin/Debug/netcoreapp3.1
/Test/ServicioAtributos.UnitTest/obj
