################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CRUDBasico/bin/Debug/netcoreapp3.1
/.vs
/CRUDBasico/obj
